#card_canvas {
  width: 100;
  height: 150;
  
  
}

#rectangle_type_flood{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#1A1B59, #090A3B);
}


#rectangle_type_fire{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#791422, #51000B);
}

#rectangle_type_earth{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#806C15, #554600);
}


#rectangle_type_weather {
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#0D4E4A, #003430);
}


#rectangle_type_weapon {
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#9A9A98, #71706B);
}


#rectangle_type_army {
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#383838, #040403);
}


#rectangle_type_leader {
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#321456, #1C053A);
}

.rectangle_type_wizard{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#5E104A, #3F002F);
}

#rectangle_type_wild{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#D4D4D4, #A7A7A6);
}


#rectangle_type_creature{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#3C7113, #214B00);
}


#rectangle_type_artifact{
  width: 20;
  height: 150;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#804515, #552700);
}

#rectangle_name {
  width: 100;
  height: 20;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#region_card_image {
  width: 70;
  height: 70;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,3,3 );
}

#oval_strength {
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,3,3 );
}

.button_card_in_hand {
    -fx-pref-width: 150;
    -fx-pref-height: 200;
    -fx-background-color: transparent;
}

.button_card_in_hand:hover {
    -fx-background-color: F00000;
}


.button_card_on_board {
    -fx-pref-width: 150;
    -fx-pref-height: 200;
    -fx-background-color: F02050;
}

#vistaHolder {
    -fx-background-color: red;
}

.menu_button {
    -fx-pref-width: 150 ;
    -fx-pref-height: 100;
    -fx-background-color: F08825;
    -fx-font-family: 'Impact', Arial, sans-serif;
    -fx-font-size: 24px;
}

.menu_button:hover {
    -fx-background-color: white;
}

.main_VBox{
    -fx-pref-width: 1400;
    -fx-pref-height: 800;
}

.StackPane {
    -fx-pref-width: 1400;
    -fx-pref-height: 800;
}

.hand_StackPane {
    -fx-pref-width: 150;
    -fx-pref-height: 200;
}

#hand_HBox {
    -fx-background-color: white;
    -fx-pref-width: 1300;
    -fx-max-height: 200;
}

